<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Random Quiz</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<div th:if="${error_message}">
<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>

<div class="container marketing">

    <form th:action="@{/api/random/create}"  method="post" th:object="${random_new}">

        <div class="row">

            <div class="row col-md-8">
                <div class="col-md-6">Select your category:</div>
                <div class="col-md-6">
                    <select class="form-control" name="category">
                        <option class="form-control" th:each="option: ${random_list}"
                                th:value="${option}"
                                th:field="*{category}"
                                th:text="${option}"></option>
                    </select>
                </div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Number questions:</div>
                <div class="col-md-6"><input class="form-control" type="number" th:field="*{number}"></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Validation Date:</div>
                <div class="col-md-6"><input class="form-control" type="datetime-local" th:field="*{validationTime}"></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <input class="form-control" type="submit" th:value="Create">
                </div>
            </div>
        </div>
    </form>

    <hr>
</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
