<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Question Add</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<div th:if="${error_message}">
    <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>

<div class="container marketing">

    <form th:action="@{/api/question/add}" method="post" th:object="${new_question}">

        <div class="row">

            <div class="row col-md-8">
                <div class="col-md-6"></div>
                <div class="col-md-6"><input class="form-control" type="number" th:field="*{quizId}" hidden></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Question :</div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{question}"></div>
            </div>

            <!--////////////////////-->
            <div class="row col-md-8">
                <div class="col-md-6">Type question:</div>
                <div class="col-md-6">
                    <select class="form-control" name="type">
                        <option class="form-control" th:each="option: ${type}" th:value="${option}"
                                th:text="${option}" th:field="*{type}"></option>
                    </select>
                </div>
            </div>
            <!--////////////////////-->

            <div class=" row col-md-8">

                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="Add question"></div>

            </div>

        </div>
    </form>

</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
