<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify Question</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<!--<div th:if="${error_message}">-->
<!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
<!--</div>-->

<div class="container marketing">

    <form th:action="@{'/api/question/modify/'  + ${questionId}}" method="post" th:object="${modify_question}">

        <div class="row">

            <div class="row col-md-8">
                <div class="col-md-6"></div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{questionId}" hidden></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Name</div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{questionText}"></div>
            </div>

            <div class=" row col-md-8">

                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="submit"></div>

            </div>

        </div>
    </form>

</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
