<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Quiz Add</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<div th:if="${error_message}">
    <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>

<div class="container marketing">

    <form th:action="@{/api/quiz/add}" method="post" th:object="${new_quiz}">

        <div class="row">

            <div class="row col-md-8">
                <div class="col-md-6">Name:</div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{name}"></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Validation Date:</div>
                <div class="col-md-6"><input class="form-control" type="datetime-local" th:field="*{validationTime}"></div>
            </div>

            <div class=" row col-md-8">

                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="Create"></div>

            </div>

        </div>
    </form>

    <hr>

</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
