<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Quiz List</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<!--<div th:if="${error_message}">-->
<!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
<!--</div>-->

<div class="container marketing">

    <h2>List of quiz</h2>

    <hr>

    <div class="row col-12">

        <div class="row col-12 header">
            <div class="col-2">Name of quiz</div>
            <div class="col-3">Create date</p></div>
            <div class="col-3">Validation date</p></div>
            <div class="col-2">Owner</p></div>
        </div>


        <!--Nazwa Quizu-->

        <div class="row col-12 colored" th:each="i : ${quiz_list}">
            <div class="col-2"><p th:text="${i.name}"></p></div>
            <div class="col-3"><p th:text="${i.createDate}"></p></div>
            <div class="col-3"><p th:text="${i.validationTime}"></p></div>
            <div class="col-2"><p th:text="${i.owner.email}"></p></div>
            <div class="col-md-2">
                <a th:href="@{'/quizme/getquiz/' +${i.address}}">Solve Quiz</a>
            </div>
            <br>
            <div class="col-12 form-control"><p th:text="${'http://localhost:8080/quizme/getquiz/' + i.address}"></p></div>
            <br>
            <div class="col-12 row-eq-height"></div>
        </div>

    </div>
    <p></p>
</div>

</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
