<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Solve Quiz</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<div th:if="${error_message}">
    <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>

<div class="container marketing">

    <!--////////////////////-->
    <div th:if="${currentQuestion.type.equals('single')}">
        <!--////////////////////-->
        <form th:action="@{'/quizme/answer/' + ${uniqueNumber} +'/'+  ${quizId} + '/' + ${currentQuestionNumber}}"
              method="post" th:object="${currentQuestion}">
            <!--Pojedyńcze pytanie-->
            <div class="row col-12  question"><p th:text="${currentQuestion.text}"></p></div>

            <input th:class="form-control" th:type="radio"
                   th:each="answer,iterator : ${currentQuestion.answerDtoList}"
                   th:text="${answer.answerText}" th:name="${currentQuestion.text}"
                   th:value="${answer.answerId}" th:field="*{answerId}"/>

            <div class="row col-2">
                <input type="submit" value="save" class="form-control">
            </div>
        </form>
    </div>

    <!--////////////////////-->
    <div th:if="${currentQuestion.type.equals('multiple')}">

        <!--////////////////////-->
        <form th:action="@{'/quizme/answer/' + ${uniqueNumber} +'/'+  ${quizId} + '/' + ${currentQuestionNumber}}"
              method="post" th:object="${currentQuestion}">
            <!--Pojedyńcze pytanie-->
            <div class="row col-12  question"><p th:text="*{text}"></p></div>

            <div clas="row col-12" th:each="answer,iter: *{answerDtoList}">
                <input type="text" th:field="*{answerDtoList[__${iter.index}__].answerId}" hidden>
                <input class="form-control row col-12" type="checkbox"
                       th:text="*{answerDtoList[__${iter.index}__].answerText}"
                       th:field="*{answerDtoList[__${iter.index}__].checked}">
            </div>
            <!--<input th:class="form-control" th:type="radio"-->
            <!--th:each="answer,iterator : ${currentQuestion.answerDtoList}"-->
            <!--th:text="${answer.answerText}" th:name="${currentQuestion.text}"-->
            <!--th:value="${answer.answerId}" th:field="*{answerId}"/>-->

            <div class="row col-2">
            <input type="submit" value="save" class="form-control">
            </div>
        </form>

    </div>
    <!--////////////////////-->

</div>

</form>

</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>