<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Statistic Quiz</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<!--<div th:if="${error_message}">-->
<!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
<!--</div>-->

<div class="container marketing">

    <div class="row col-12 ">

        <div class="row col-12 header">
            <div class="col-2">Name of quiz</div>
            <div class="col-4">Address</p></div>
            <div class="col-2">Create date</p></div>
            <div class="col-2">Validation date</p></div>
            <div class="col-2">Owner</p></div>
        </div>
        <!--Nazwa Quizu-->
        <div class=" row col-12">
            <div class="col-2"><p th:text="${quiz.name}"></p></div>
            <div class="col-4"><p th:text="${quiz.address}"></p></div>
            <div class="col-2"><p th:text="${quiz.createDate}"></p></div>
            <div class="col-2"><p th:text="${quiz.validationTime}"></p></div>
            <div class="col-2"><p th:text="${quiz.owner.email}"></p></div>
        </div>
    </div>

    <hr>

    <h2>Statistics</h2>

    <hr>

    <div class="row col-md-12">

        <div class="row col-md-12 colored ">
            <div class="col-md-3 "></div>
            <div class="col-md-3 ">Number of question:</div>
            <div class=" col-md-3"><p th:text="${number}"></div>
        </div>

        <div class=" row col-md-12 colored">
            <div class="col-md-3"></div>
            <div class="col-md-3 ">Attemps of solve:</div>
            <div class="col-md-3"><p th:text="${attemps}"></p></div>
        </div>

        <div class=" row col-md-12 colored">
            <div class="col-md-3"></div>
            <div class="col-md-3 ">Completed attemps:</div>
            <div class="col-md-3"><p th:text="${completed}"></p></div>
        </div>

        <div class=" row col-md-12 colored">
            <div class="col-md-3"></div>
            <div class="col-md-3 ">Correct Annswer:</div>
            <div class="col-md-3"><p th:text="${correct+ '%'}"></p></div>
        </div>
    </div>

    <hr>

    <h2>List of attemps</h2>

    <hr>

    <form th:action="@{'/api/statistic/quiz/' + ${quiz.id}}">

        <div class="row col-md-8">
            <div class="col-md-6">Sort by:</div>
            <div class="col-md-6">
                <select class="form-control" name="sort">
                    <option class="form-control" th:each="option: ${sortBy}" th:value="${option}"
                            th:text="${option}" th:field="*{sortBy}"></option>
                </select>
            </div>
        </div>
        <div class="row col-md-8">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <input class="form-control" type="submit" th:value="Sort">
            </div>
        </div>

    </form>

    <hr>

    <div class="row col-md-12">

        <div class="row col-md-12 header">

            <div class="col-4">Name user</div>
            <div class="col-4">Completed time</p></div>
            <div class="col-2">Score</p></div>


        </div>


        <div class="row col-12 colored" th:each="i : ${resultList}">

            <div class="col-4"><p th:text="${i.resultQuiz.appUser.name +' '+ i.resultQuiz.appUser.surname}"></p></div>
            <div class="col-4">
                <!--<p th:if="${i.resultQuiz.completedTime != null}" th:text="${i.resultQuiz.completedTime.toString()}">-->
                <!--<p th:if="${i.resultQuiz.completedTime == null}" th:text="${'unfinished'}"></p></div>-->

                <p th:if="${i.resultQuiz.resultQuestionList.size() != i.resultQuiz.quiz.questionList.size()}" th:text="${'unfinished'}">
                <p th:if="${i.resultQuiz.resultQuestionList.size() == i.resultQuiz.quiz.questionList.size()}" th:text="${i.resultQuiz.completedTime.toString()}"></p></div>

            <div class="col-2"><p th:text="${i.score}"></p></div>
            <div class="col-md-2">
                <a th:href="@{'/api/user/results/' +${i.resultQuiz.id}}">Show</a>
            </div>

        </div>


    </div>


</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
