<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Modify Password</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<div th:if="${error_message}">
<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
</div>

<div class="container marketing">

    <form th:action="@{/api/user/change_password}" method="post" th:object="${change_password}">

        <div class="row">

            <div class="row col-md-8">
                <div class="col-md-6"></div>
                <div class="col-md-6"><input class="form-control" type="text" th:field="*{appUserId}" hidden></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Old password</div>
                <div class="col-md-6"><input class="form-control" type="password" th:field="*{password}"></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">New password</div>
                <div class="col-md-6"><input class="form-control" type="password" th:field="*{newPassword}"></div>
            </div>

            <div class="row col-md-8">
                <div class="col-md-6">Confirm new password</div>
                <div class="col-md-6"><input class="form-control" type="password" th:field="*{newPasswordConfirm}"></div>
            </div>

            <div class=" row col-md-8">

                <div class="col-md-6"></div>
                <div class="col-md-6"><input type="submit" class="form-control" value="submit"></div>

            </div>

        </div>
    </form>

</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
