<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<!--<div th:if="${error_message}">-->
<!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
<!--</div>-->

<div class="container marketing">

    <div class="row">

        <div class=" row col-md-8">

            <div class="col-md-6">Id:</div>
            <div class="col-md-6"><p th:text="${logged.id}"></p></div>

        </div>

        <div class=" row col-md-8">

            <div class="col-md-6">Name:</div>
            <div class="col-md-6"><p th:text="${logged.name + ' ' +  logged.surname}"></p></div>

        </div>

        <div class=" row col-md-8">

            <div class="col-md-6">Email:</div>
            <div class="col-md-6"><p th:text="${logged.email}"></p></div>

        </div>

        <div class=" row col-md-8">
            <div class="col-md-6">
                <a th:href="@{'/api/user/modify?id=' + ${logged.id}}">Modify</a>
            </div>
            <div class="col-md-6">
                <a th:href="@{'/api/user/change_password?id=' + ${logged.id}}">Change Password</a>
            </div>

        </div>
    </div>

    <hr>

    </div>


</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
