<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Results</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<!--<div th:if="${error_message}">-->
<!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
<!--</div>-->

<div class="container marketing">


    <hr>

    <!--Punkty-->
    <div class="row col-12"><p></p></div>
    <div class="row col-12">
        <div class="col-5"></div>
        <div class="col-4 question" th:if="${result}"><h2
                th:text="*{'Score: '  + score  + '/' + result.quiz.questionList.size()}"></h2></div>
    </div>
    <div class="row col-12"><p></p></div>

    <hr>

    <div class="row col-12" th:if="${result}" th:object="${result}">


        <div class="row col-12 header">
            <div class="col-4">Quiz name</div>
            <div class="col-4">User name</p></div>
            <div class="col-4">Completed time</p></div>
        </div>
        <!--Nazwa Quizu-->
        <div class="row col-12">
            <div class="col-4"><p th:text="*{quiz.name}"></p></div>
            <div class="col-4"><p th:text="*{appUser.name + ' ' + appUser.surname}"></p></div>
            <div class="col-4">
                <p th:if="*{completedTime != null}" th:text="*{completedTime.toString()}">
                <p th:if="*{completedTime == null}"th:text="*{'unfinished'}"></p>
            </div>
        </div>

        <!--Pytanie-->
        <div class="row col-12" th:each="resultQuestion : *{resultQuestionList}">
            <div class="col-md-1"></div>
            <div class="col-11 question"><p th:text="${resultQuestion.question.question}"></p></div>

            <!--Odpoiedzi do pytania-->
            <div class="row col-12 colored" th:each="selection : ${resultQuestion.question.selectionsList}">
                <div class="col-md-2"></div>
                <div><p th:if="${selection.correct }" class="trueAnswer" th:text="${selection.text}"></p></div>
                <div><p th:if="${selection.id == resultQuestion.yourAnswer.id && !selection.correct}"
                        class="falseAnswer" th:text="${selection.text}"></p></div>
                <div><p th:if="${selection.id != resultQuestion.yourAnswer.id && !selection.correct}"
                        th:text="${selection.text}"></p></div>
                <div class="col-md-7"></div>
            </div>

        </div>
    </div>

</div>

</div>


</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
