<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: headeer">
    <meta charset="UTF-8">
    <title>Your Results</title>
</head>

<body class="text-center">
<header th:replace="template :: header"></header>

<!--<div th:if="${error_message}">-->
<!--<div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>-->
<!--</div>-->

<div class="container marketing">

    <form th:action="@{/api/user/your_results}" method="post">

        <div class="row">
            <div class="row col-md-8">
                <div class="col-md-6">Select your result:</div>
                <div class="col-md-6">
                    <select class="form-control" name="id">
                        <option class="form-control" th:each="option: ${your_results}" th:value="${option.id}"
                                th:text="${option.quiz.name + ' ' + option.completedTime }"></option>
                    </select>
                </div>
            </div>
            <div class="row col-md-8">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <input class="form-control" type="submit" th:value="Filter">
                </div>
            </div>
        </div>
    </form>

    <hr>

    <div class="row col-12"><p></p></div>
    <div class="row col-12">
        <div class="col-4"></div>
        <div class="col-4 question" th:if="${your_result}"><h2
                th:text="*{'Your score: '  + score  + '/' + your_result.quiz.questionList.size()}"></h2></div>

    </div>
    <div class="row col-12"><p></p></div>

    <hr>

    <div class="row col-12" th:if="${your_result}" th:object="${your_result}">

        <div class="row col-12 header">
            <div class="col-4">Name</div>
            <div class="col-4">Create date</p></div>
            <div class="col-4">Owner</p></div>
        </div>
        <!--Nazwa Quizu-->
        <div class="row col-12">
            <div class="col-4"><p th:text="*{quiz.name}"></p></div>
            <div class="col-4"><p th:text="*{quiz.createDate}"></p></div>
            <div class="col-4"><p th:text="*{quiz.owner.name + ' ' +  quiz.owner.surname}"></p></div>
        </div>

        <!--Pytanie-->
        <div class="row col-12" th:each="resultQuestion : *{resultQuestionList}">
            <div class="col-md-1"></div>
            <div class="col-11 question"><p th:text="${resultQuestion.question.question}"></p></div>

            <!--Odpoiedzi do pytania-->
            <div class="row col-12 colored" th:each="selection : ${resultQuestion.question.selectionsList}">
                <div class="col-md-2"></div>
                <div><p th:if="${selection.correct }" class="trueAnswer" th:text="${selection.text}"></p></div>
                <div><p th:if="${selection.id == resultQuestion.yourAnswer.id && !selection.correct}"
                        class="falseAnswer" th:text="${selection.text}"></p></div>
                <div><p th:if="${selection.id != resultQuestion.yourAnswer.id && !selection.correct}"
                        th:text="${selection.text}"></p></div>
                <div class="col-md-7"></div>
            </div>

        </div>

    </div>

</div>

</div>


</div>

<footer th:replace=" template :: footer"></footer>

</body>
</html>
